<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is the project webpage for the CSC 436/455/483 capstone project titled "Project Heat".
  Project Heat is an automatic drink mixing machine built around the use of an Arduino microcontroller
  connected to a series of peristaltic pumps. The machine's interface will be built around this website,
  which will present a series of drink options to the user. Upon selection, a database request will forward
  the necessary drink ingredients, and the drink will be automatically created.
</p>